.App {
  padding: 0 10%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 600;
  color: white;
}

.App-header {
  text-align: center;
  font-size: xx-large;
}

.customDivs {
  height: 50px;
  padding: 50px;
  text-align: center;
  border-style: solid;
  margin: 20px 0px;
  border-radius: 3px;
  font-size: xx-large;
}

.testClick {
  cursor: pointer;
  color: blue;
  background-color: darkblue;
}

.testOnHover {
  cursor: progress;
  color: lime;
  background-color: green;
}

.testKeypress {
  padding: 12px 20px;
}

.testError {
  cursor: pointer;
  color: red;
  background-color: darkred;
}